@using EPiServer.Web.Mvc.Html;

@using LurieChildrensFoundation.AO.FB.Models.Pages;
@using LurieChildrensFoundation.AO.FB.Models.ViewModels;

@model StandardPageViewModel<StandardPage>
@{ Layout = "~/Views/Shared/Layouts/FullWidth.cshtml"; }

<section>
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				@Html.PropertyFor(model => model.CurrentPage.MainContentArea)
			</div>
		</div>
	</div>
</section>

<section>
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				<h1>@Html.PropertyFor(model => model.CurrentPage.Name)</h1>
				<p>@Html.PropertyFor(model => model.ViewModelProperty)</p>
				<p>@Html.PropertyFor(model => model.ViewModelPropertyBase)</p>

				<p>@Html.PropertyFor(model => model.SiteLogo.Alt)</p>
				<p>@Url.ContentUrl(Model.SiteLogo.Src)</p>

				<p>@Url.ContentUrl(Model.DonateLink.Src)</p>
			</div>
		</div>
	</div>
</section>
