@using EPiServer.Web.Mvc.Html;

@using LurieChildrensFoundation.AO.FB.Models.Pages;
@using LurieChildrensFoundation.AO.FB.Models.ViewModels;

@model StartPageViewModel<LurieChildrensFoundation.AO.FB.Models.Pages.StartPage>
@{Layout = "~/Views/Shared/Layouts/FullWidth.cshtml";}

<section class="hero">
	<div class="image-responsive">
		<div class="content">
			<h1>@Html.PropertyFor(model => model.CurrentPage.MainHeadline)</h1>
			<h3>@Html.PropertyFor(model => model.CurrentPage.SubHeadline)</h3>
			<p>@Html.PropertyFor(model => model.CurrentPage.ShortText)</p>
		</div>
		@Html.PropertyFor(model => model.CurrentPage.MainImage)
	</div>
</section>

<section>
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				<h1>@Html.PropertyFor(model => model.CurrentPage.Name)</h1>
				<p>@Html.PropertyFor(model => model.ViewModelProperty)</p>
				<p>@Html.PropertyFor(model => model.ViewModelPropertyBase)</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				@Html.PropertyFor(model => model.CurrentPage.MainContentArea)
			</div>
		</div>
	</div>
</section>