@using EPiServer.Web.Mvc.Html;

@using LurieChildrensFoundation.AO.FB.Models.Pages;
@using LurieChildrensFoundation.AO.FB.Models.ViewModels;

@model StartPageViewModel<LurieChildrensFoundation.AO.FB.Models.Pages.StartPage>
@{ Layout = "~/Views/Shared/Layouts/FullWidth.cshtml"; }

<section class="hero">
	<div class="image-responsive">
		<div class="content">
			<h1>@Html.PropertyFor(model => model.CurrentPage.MainHeadline)</h1>
			<h3>@Html.PropertyFor(model => model.CurrentPage.SubHeadline)</h3>
			<p>@Html.PropertyFor(model => model.CurrentPage.ShortText)</p>
		</div>
		<picture>
			@if (!String.IsNullOrWhiteSpace(Url.ContentUrl(Model.CurrentPage.Image992)))
			{
				<source srcset="@Url.ContentUrl(Model.CurrentPage.Image992)" media="(min-width: 992px)">
			}
			@if (!String.IsNullOrWhiteSpace(Url.ContentUrl(Model.CurrentPage.Image768)))
			{
				<source srcset="@Url.ContentUrl(Model.CurrentPage.Image768)" media="(min-width: 768px)">
			}
			@if (!String.IsNullOrWhiteSpace(Url.ContentUrl(Model.CurrentPage.Image576)))
			{
				<source srcset="@Url.ContentUrl(Model.CurrentPage.Image576)" media="(min-width: 576px)">
			}
			@if (!String.IsNullOrWhiteSpace(Url.ContentUrl(Model.CurrentPage.Image320)))
			{
				<source srcset="@Url.ContentUrl(Model.CurrentPage.Image320)" media="(min-width: 320px)">
			}
			@if (!String.IsNullOrWhiteSpace(Url.ContentUrl(Model.CurrentPage.Image72)))
			{
				<source srcset="@Url.ContentUrl(Model.CurrentPage.Image72)" media="(min-width: 72px)">
			}
			@Html.PropertyFor(model => model.CurrentPage.MainImage)
		</picture>
	</div>
</section>

<section>
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				@Html.PropertyFor(model => model.CurrentPage.MainContentArea)
			</div>
		</div>
	</div>
</section>

<section class="debug">
	<div class="layout container">
		<div class="row">
			<div class="col-12">
				<h1>@Html.PropertyFor(model => model.CurrentPage.Name)</h1>
				<p>@Html.PropertyFor(model => model.ViewModelProperty)</p>
				<p>@Html.PropertyFor(model => model.ViewModelPropertyBase)</p>

				<p>@Html.PropertyFor(model => model.SiteLogo.Alt)</p>
				<p>@Url.ContentUrl(Model.SiteLogo.Src)</p>

				<p>@Url.ContentUrl(Model.DonateLink.Href)</p>
			</div>
		</div>
	</div>
</section>