@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@using LurieChildrensFoundation.AO._Base.Models.ViewModels;
@using LurieChildrensFoundation.AO._Base.Models.Pages;
@using LurieChildrensFoundation._Base.Helpers;

@model IAOBasePageViewModel<AOBasePage>

<!doctype html>
<html lang="en">
 	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@Model.CurrentPage.MetaTitle - Lurie Children's Hospital</title>

		@if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
		{
			<meta name="description" content="@Model.CurrentPage.MetaDescription" />
		}
		@if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaRobots))
		{
			<meta name="robots" content="@Model.CurrentPage.MetaRobots" />
		}

		<link rel="stylesheet" href="~/Static/css/bootstrap-4.3.1/bootstrap.min.css" />
		<link rel="stylesheet" href="~/Static/css/default.css" />
		<link rel="stylesheet" href="~/Static/css/fonts.css" />

		<link rel="shortcut icon" href="~/Static/images/favicon/favicon.ico" />
		<link rel="shortcut icon" href="~/Static/images/favicon/favicon-196.png" sizes="196x196" />
		<link rel="icon" href="~/Static/images/favicon/favicon-32.png" sizes="32x32" />
		<link rel="icon" href="~/Static/images/favicon/favicon-57.png" sizes="57x57" />
		<link rel="icon" href="~/Static/images/favicon/favicon-76.png" sizes="76x76" />
		<link rel="icon" href="~/Static/images/favicon/favicon-96.png" sizes="96x96" />
		<link rel="icon" href="~/Static/images/favicon/favicon-128.png" sizes="128x128" />
		<link rel="icon" href="~/Static/images/favicon/favicon-228.png" sizes="228x228" />
		<link rel="apple-touch-icon" href="~/Static/images/favicon/favicon-120.png" sizes="120x120" />
		<link rel="apple-touch-icon" href="~/Static/images/favicon/favicon-152.png" sizes="152x152" />
		<link rel="apple-touch-icon" href="~/Static/images/favicon/favicon-180.png" sizes="180x180" />
	</head>

	<body>
		<header>
			<div class="layout container">
				<div class="row">
					<div class="tools col-12">
						<ul>
							@foreach (var link in Model.TopLinks)
							{
							<li>
								<a target="@link.Target" href="@Url.PageUrl(link.Href)">@link.Text</a>
							</li>
							}
							<li>
								<a class="donate" target="@Url.ContentUrl(Model.DonateLink.Target)" href="@Url.ContentUrl(Model.DonateLink.Src)">Donate</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="logo col-10 col-sm-4 col-lg-3">
						<a href="@EPiServer.Core.ContentReference.StartPage"><img class="logo-main" alt="@Html.PropertyFor(model => model.SiteLogo.Alt)" src="@Url.ContentUrl(Model.SiteLogo.Src)" /></a>
						</a>
					</div>
					<div class="navigation col-2 col-sm-8 col-lg-9">
						<div class="mobile">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<ul class="nav">
							@Html.MenuList(ContentReference.StartPage, NavigationTemplate)
						</ul>
					</div>
				</div>
			</div>
		</header>

		@RenderBody()

		<footer>
			<div class="blue-row">
				<div class="layout container">
					<div class="row">
						<div class="contact col-12">
							<p>To learn more about the Founders Board, please contact us at <a href="tel:13122274346">312.227.4346</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="darkblue-row">
				<div class="layout container">
					<div class="row">
						<div class="address col-sm-12 col-md-6">
							<p>
								Ann &amp; Robert H. Lurie Children's Hospital of Chicago <br />
								225 East Chicago Avenue, Box 4 <br />
								Chicago, IL 60611-2605
							</p>
						</div>
						<div class="social col-sm-12 col-md-6">
							<img src="~/Static/images/social-facebook.png" />
							<img src="~/Static/images/social-twitter.png" />
							<img src="~/Static/images/social-youtube.png" />
							<img src="~/Static/images/social-instagram.png" />
							<img src="~/Static/images/social-linkedin.png" />
						</div>
					</div>
				</div>
			</div>
			<div class="white-row row">
				<div class="layout container">
					<div class="row">
						<div class="copyright col-12">
							<p>Copyright &copy; @DateTime.Now.Year - Founders Board. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="~/Static/js/jquery-3.4.0/jquery-3.4.0.min.js"></script>
		<script src="~/Static/js/bootstrap-4.3.1/bootstrap.min.js"></script>

	</body>

</html>

@Html.RenderEPiServerQuickNavigator()

@helper NavigationTemplate(HtmlHelperMenu.MenuItem menuItem)
{
	<li class="@(menuItem.Selected ? "active" : null)">
		@Html.PageLink(menuItem.Page)
	</li>
}

@helper NavigationTemplateOLD(HtmlHelperMenu.MenuItem menuItem)
{
	<li class="@(menuItem.Selected ? "active" : null)">
		<strong>@Html.PageLink(menuItem.Page)</strong>
		<ul class="dropdown-menu">
			@Html.MenuList(menuItem.Page.ContentLink, NavigationTemplate)
		</ul>
	</li>
}

@helper SubMenuTemplate(HtmlHelperMenu.MenuItem menuItem)
{
	<li>
		@if (menuItem.Selected)
		{
			<strong>@Html.PageLink(menuItem.Page)</strong>
			<ul>
				@Html.MenuList(menuItem.Page.ContentLink, SubMenuTemplate)
			</ul>
		}
	</li>
}
