@using LurieChildrensFoundation.AO.FB.Models.Pages;
@using LurieChildrensFoundation.AO.FB.Models.ViewModels;

@model NewsListBlockViewModel

@foreach (NewsPage page in Model.Pages)
{
<div class="container layout NewsListItem">
	<div class="row">
		<div class="col col-9">
			<div class="container ">
				<div class="row">
					<div class="col col-12">
						<h2>
							@page.Name
						</h2>
					</div>
				</div>
			</div>
			<div class="container ">
				<div class="row">
					<div class="col col-md-7 col-lg-9">
						<p>@page.Summary</p>
					</div>
					<div class="col col-md-5 col-lg-3">
						<p>
							@Html.PropertyFor(x => page.NewsDate, "DateOnly")
						</p>
						<p>
							<a class="btn btn-primary" href="@Url.PageUrl(page.LinkURL)">More Info</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-3 Thumb">
			@Html.PropertyFor(x => page.ThumbnailImage, "Image")
		</div>
	</div>
</div>
}
